.header{
  font-size:40px; 
  color:black; 
  font-weight:bold; 
  text-align:center; 
  margin-top: 3rem;
  margin-bottom:1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
}

.nav {
  left: 5%;
  top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #2dbfc9;
}


.menu {
  background-color: #9eebed;
  width: 15rem;
  height: 100rem;
}

.main-img-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.portfolio {
  margin: 0.5rem;
  width: 5rem;
  height: 4.5rem;
  border-radius: 5rem;
}

.main-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-menu-item {
  margin-left: 0.5rem;
  font-family: "Lato", serif;
  text-transform: uppercase;
}

a:link{
  color: white;
  text-decoration: none;
}

.foto-perfil {
  width: 60%;
  height: 40%;
  position: relative;
  left: 2rem;
  top: 1rem;
  border-radius: 5rem;
}

.profile-text{
  margin: 1rem;
  width: 30rem;
  font-family: "Lato", serif;
  line-height: 1.5rem;
  position: relative;
  top: 1.5rem;
  align-items: center;
}


/* index.html */

/*
.parent {
  display: grid;
  grid-template-columns: 85%;
  justify-content: flex-end;
  margin-right: 1rem;
  position: relative;
  top: -32rem;
}
*/

.index-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  height: 100%; 
}

.para-index{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.sections-menu {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sections-menu-item {
  margin-top: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 10rem;
}

.sections-menu-item-image {
  width: 10rem;
  height: 10rem;
}

.sections-menu-item-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  width: 15rem;
  height: 15rem;
}

.sections-menu-item-text-title{
  padding-bottom: 0.5rem;
  font-family: "Lora", serif;
  line-height: 1.5rem;
  padding-top: 2rem;
  font-size: 1rem;
}

.texto{
  padding-top: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1rem;
}

/* categoria.html */

.category-title {
  display: flex;
  justify-content: space-between;
  flex-direction:column;
  margin-top: -15rem;
  margin-left: 21.5rem;
  width: 100%;
  height: 100%;
}

.category-title-image {
  width: 60rem;
  height: 10rem;
  margin-top: 4rem;
}

.category-text {
  padding-top: 0.5rem;
  display: flex;
  margin-left: 5rem;
  font-family: "Questrial", sans-serif;
  font-size: 2rem;
}

.projects-menu {
  margin-top: -30rem;
  margin-left: 37rem;
  width: 70%;
  display: flex;
}

.projects-menu-item {
  display: flex;
  align-items: flex-end;
  margin-left: -25rem;
  margin-right: 15rem;
  margin-top: -5rem;
  padding-right: 1rem;
  flex-direction: column;
}

.projects-menu-item-image {
  width: 25rem;
  height: 15rem;
  margin-right: 4rem;
  padding: 4rem;
}

.projects-menu-item-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 20rem;
  height: 5rem;
  margin-right: 13rem;
  margin-top: -4rem;
  background-color: rgba(50, 115, 220, 0.3);
  font-family: "Questrial", sans-serif;
  line-height: 1rem;
}

/* projeto.html */

.project-main{
  display: flex;
  justify-content: flex;
  margin-right: 5rem;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  position: absolute;
  height: 100%;
  width: 100%;
}


.corpo-texto{
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
}


.project-title {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 2rem;
  margin-top: 0rem;
  width: 100%;
  font-weight: bold;
  font-family: 'Yrsa', serif;
  font-size:4rem;
  text-transform: uppercase;
}
/*
.project-cont{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}
*/
.project-image-cont{
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 2rem;
}

.project-image {
  width: 50%;
  height: 100%;
  border-radius: 0.4rem;
}

.project-text {
  padding: 1rem;
  width: 30rem;
  justify-content: left;
  align-items: left;
  font-family: "Lato", serif;
  line-height: 1.5rem;
}

.destaque{
  font-family: "Lato", serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  background-color: #d1eef0;
  
}

.destaque-profile{
  font-family: "Lato", serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;

}