.header{
  font-size:40px; 
  color:black; 
  font-weight:bold; 
  text-align:center; 
  margin-top: 3rem;
  margin-bottom:1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
}

.nav {
  left: 5%;
  top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #2dbfc9;
}

.menu {
  background-color: #9eebed;
  width: 11rem;
  height: 38rem;
}

.main-img-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.portfolio {
  margin: 0.5rem;
  width: 5rem;
  height: 4.5rem;
  border-radius: 5rem;
}

.main-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-menu-item {
  margin-left: 0.5rem;
  font-family: "Lato", serif;
  text-transform: uppercase;
}

a:link{
  color: white;
  text-decoration: none;
}

.foto-perfil {
  width: 60%;
  height: 40%;
  position: relative;
  left: 2rem;
  top: 1rem;
  border-radius: 5rem;
}

.profile-text{
  margin: 1rem;
  width: 30rem;
  font-family: "Lato", serif;
  line-height: 1.5rem;
  position: relative;
  top: 1.5rem;
  align-items: center;
}

.principal{
  position: relative;
  top: -30rem;
  left: 6rem;
}

/* index.html */

.index-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  height: 100%; 
}

.para-index{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.sections-menu {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sections-menu-item {
  margin-top: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 10rem;
}

.sections-menu-item-image {
  width: 10rem;
  height: 10rem;
}

.sections-menu-item-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  width: 15rem;
  height: 15rem;
}

.sections-menu-item-text-title{
  padding-bottom: 0.5rem;
  font-family: "Lora", serif;
  line-height: 1.5rem;
  padding-top: 2rem;
  font-size: 1rem;
}

.texto{
  padding-top: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1rem;
}

.category-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-title-image {
  width: 100%;
}

.category-text {
  width: 66%;
  margin-top: 1rem;
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 2rem;

}

.projects-menu {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.projects-menu-item {
  padding: .5rem;
  display: flex;
  margin-left: 50%;
}

.projects-menu-item-image {
  width: 8rem;
  height: 12rem;
  border-radius: .5rem;
}

.projects-menu-item-text {
  margin-left: .5rem;
}

@media (max-width: 68rem) {
  .projects-menu {
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 49rem) {
/*  .call-figure {
    width: 100%;
  }*/

  .category-title-image {
    display: none;
  }

/*  .call-title {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 2rem;
    display: block;
  }*/

  .category-text {
    width: 100%;
  }

  .projects-menu {
    grid-template-columns: 1fr;
  }
}


/* projeto.html */

.config{
  position: relative;
  top: -27rem;
  left: 35rem;
}

.project-main{
  display: flex;
  margin-right: 5rem;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  position: absolute;
  height: 100%;
  width: 100%;
}


.corpo-texto{
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
}


.project-title {
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  margin-top: 0rem;
  width: 100%;
  font-weight: bold;
  font-family: 'Yrsa', serif;
  font-size:4rem;
  text-transform: uppercase;
}

.project-image-cont{
  display: flex;
  justify-content: left;
  padding: 2rem;
}

.project-image {
  width: 50%;
  height: 100%;
  border-radius: 0.4rem;
}

.project-text {
  padding: 1rem;
  width: 30rem;
  justify-content: left;
  font-family: "Lato", serif;
  line-height: 1.5rem;
}

.destaque{
  font-family: "Lato", serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  background-color: #d1eef0;
  
}

.destaque-profile{
  font-family: "Lato", serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;

}